@model List<ImageModel>
@{
    ViewData["Title"] = "За нас";
}

<div class="capsule">
    <!--Owner-->
    <div class="container">
        <div class="row home-container py-5 px-4 align-items-center justify-content-around">
            <div class="col-md-auto per-col1 px-2">
                <div style="height: 100%; width: 100%; overflow: hidden">
                    <img src="https://planradar-website.s3.amazonaws.com/production/uploads/2018/08/v.jpg"
                         class="image-responsive" style="max-height: 100%; max-width: auto; object-fit:cover" />
                </div>
            </div>
            <div class="col per-col2 li-blu px-2">
                <div class="d-flex flex-column py-3 px-0 justify-content-center text-white" style="height: 100%; width: 100%;">
                    <h3 class="p-1">За нас</h3>
                    <h5 class="p-1">ТЕСЛА ЕООД е фирма специализирана в областта строителството и хидроизолацията</h5>
                    <h5 class="p-1">Повече от 20г опит в ремонтите и изграждане на покриви, хидроизолация, т.н.</h5>
                    <h5 class="p-1">Включена гаранция за качество</h5>
                </div>
            </div>
        </div>
    </div>
    <!--Team-->
    <div class="container">
        <div class="row home-container py-5 px-4 align-items-center justify-content-around">
            <div class="col per-col1 li-blu py-3 px-2">
                <div class="d-flex flex-column py-3 px-0 justify-content-center text-white" style="height: 100%; width: 100%; overflow: hidden">
                    <h3 class="p-1">Екип, Оборудване, Материали</h3>
                    <h5 class="p-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h5>
                </div>
            </div>
            <div class="col-md-auto per-col2 px-2">
                <div style="height: 100%; width: 100%; overflow: hidden">
                    <img src="https://firebasestorage.googleapis.com/v0/b/teslarooftoprepair.appspot.com/o/viber_image_2023-10-11_11-11-29-116.jpg?alt=media&token=8d66f2dd-5e30-4246-aae0-f1bf0f5ba623"
                         class="my-auto" style="max-height: 100%; max-width: auto; object-fit:cover" />
                </div>
            </div>
        </div>
    </div>
</div>