@model Dictionary<string, List<string>>
@{
    ViewData["Title"] = "Services Page";
    string currentRepair = null;
}

<style>
    body {
        overflow: hidden;
    }
</style>

<div class="capsule">
    <div class="d-flex services-container py-5 px-4 align-items-center justify-content-around">
        <div class="table-container li-blu w-100">
            
        </div>
    </div>
</div>
