@{
    ViewData["Title"] = "Home Page";
}

<style>
    
</style>

<!--<div class="d-flex flex-row row">-->
    <div class="d-flex home-container mt-2 align-items-center justify-content-around">
        <div class="d-flex container-inside flex-row py-3 px-4" style="">
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
    </div>
    <div class="d-flex home-container mt-2 align-items-center justify-content-around">
        <div class="d-flex container-inside flex-row py-3 px-4" style="">
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
    </div>
    <div class="d-flex home-container mt-2 align-items-center justify-content-around">
        <div class="d-flex container-inside flex-row py-3 px-4" style="">
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
    </div>
    <div class="d-flex home-container mt-2 align-items-center justify-content-around">
        <div class="d-flex container-inside flex-row py-3 px-4" style="">
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
    </div>

<!--</div>-->