@{
    ViewData["Title"] = "Home Page";
}

<div class="capsule">
    <!--About us-->
    <div class="d-flex home-container py-5 px-4 align-items-center justify-content-around">
            <div class="d-flex per-col1 li-blu py-3 px-2">
                <div class="d-flex flex-column py-3 px-2 justify-content-center text-white" style="height: 100%; width: 100%;">
                    <h1 class="p-1">ТЕСЛА ООД</h1>
                    <h5 class="p-1">15 години опит в строителството</h5>
                    <h5 class="p-1">Първокласни материали</h5>
                    <h5 class="p-1">Стотици доволни клиенти</h5>
                    <h4 class="p-1">
                        <a class="home-link link-underline-light text-light" asp-area="" asp-controller="AboutUs" asp-action="Index">За нас</a>
                    </h4>
                </div>
            </div>
            <div class="d-flex per-col2 px-2">
                <div style="height: 100%; width: 100%; overflow: hidden">
                    <img src="https://firebasestorage.googleapis.com/v0/b/teslarooftoprepair.appspot.com/o/viber_image_2023-10-11_11-10-51-354.jpg?alt=media&token=c7f0239f-6b94-4dc5-9c65-f0d1383009fe"
                    class="image-responsive" style="max-height: 100%; max-width: auto; object-fit:cover" />
                </div>
            </div>
    </div>
    <!--Services-->
    <div class="d-flex home-container py-5 px-4 align-items-center justify-content-around">
            <div class="d-flex per-col2 px-2">
                <div class="d-flex justify-content-center align-items-center" style="height: 100%; width: 100%; overflow: hidden">
                    <img src="https://firebasestorage.googleapis.com/v0/b/teslarooftoprepair.appspot.com/o/viber_image_2023-10-11_11-10-51-039.jpg?alt=media&token=8fd65ef4-a943-4914-a15c-bbe500936c72"
                    class="image-responsive" style="max-height: 100%; max-width: auto; object-fit:cover" />
                </div>
            </div>
            <div class="d-flex per-col1 li-blu py-3 px-2">
                <div class="d-flex flex-column py-3 px-2 justify-content-center text-white" style="height: 100%; width: 100%;">
                    <h1 class="p-1">Услуги</h1>
                    <h5 class="p-1">Ремонт на покриви</h5>
                    <h5 class="p-1">Хидроизолация</h5>
                    <h5 class="p-1">Тенекеджийство</h5>
                    <h4 class="p-1">
                    <a class="home-link link-underline-light text-light" asp-area="" asp-controller="Services" asp-action="Index">И още други</a>
                    </h4>
                </div>
            </div>
    </div>
    <!--Gallery-->
    <div class="d-flex home-container py-5 px-4 align-items-center justify-content-around">
            <div class="d-flex per-col1 li-blu py-3 px-2">
                <div class="d-flex flex-column py-3 px-2 justify-content-center text-white" style="height: 100%; width: 100%;">
                    <h1 class="p-1">Убедете се сами</h1>
                    <h5 class="p-1">Не се доверявайте на сляпо</h5>
                    <h4 class="p-1">
                        <a class="home-link link-underline-light text-light" asp-area="" asp-controller="Gallery" asp-action="Index">Отвори Галерия</a>
                    </h4>
                </div>
            </div>
            <div class="d-flex per-col2 px-2">
                <div style="height: 100%; width: 100%; overflow: hidden">
                    <img src="https://firebasestorage.googleapis.com/v0/b/teslarooftoprepair.appspot.com/o/viber_image_2023-10-11_11-26-18-874.jpg?alt=media&token=b61a4c43-1754-41ee-b076-bdddab9c2537"
                    class="image-responsive" style="max-width: 100%; max-height: auto; object-fit:cover" />
                </div>
            </div>
    </div>
    <!--Contacts-->
    <div class="d-flex home-container py-5 px-4 align-items-center justify-content-around">
            <div class="d-flex per-col2 px-2">
                <div style="height: 100%; width: 100%; overflow: hidden">
                    <img src="https://firebasestorage.googleapis.com/v0/b/teslarooftoprepair.appspot.com/o/viber_image_2023-10-11_11-11-29-419.jpg?alt=media&token=d45908ac-6b2b-46bc-bb6e-212e27806522"
                    class="image-responsive" style="max-height: 100%; max-width: auto; object-fit:cover" />
                </div>
            </div>
            <div class="d-flex per-col1 li-blu py-3 px-2">
                <div class="d-flex flex-column py-3 px-2 justify-content-center text-white" style="height: 100%; width: 100%;">
                    <h1 class="p-1">Свържете се с нас</h1>
                    <h5 class="p-1">Тел.: 088 888 8888</h5>
                    <h4 class="p-1">
                        <a class="home-link link-underline-light text-light" asp-area="" asp-controller="Contacts" asp-action="Index">Напиши ни имейл</a>
                    </h4>
                </div>
            </div>
    </div>
</div>