@model List<ImageModel>
@{
    ViewData["Title"] = "Добре Дошли";
}

<div class="capsule">
    <!--About us-->
    <div class="container">
        <div class="row home-container py-5 px-4 align-items-center justify-content-md-center">
            <div class="col per-col1 li-blu py-3 px-2">
                <div class="d-flex flex-column py-3 px-0 justify-content-center text-white" style="height: 100%; width: 100%;">
                    <h1>ТЕСЛА ООД</h1>
                    <h5 class="p-1">15 години опит в строителството</h5>
                    <h5 class="p-1">Първокласни материали</h5>
                    <h5 class="p-1">Стотици доволни клиенти</h5>
                    <h4 class="p-1">
                        <a class="home-link link-underline-light text-light" asp-area="" asp-controller="AboutUs" asp-action="Index">За нас</a>
                    </h4>
                </div>
            </div>
            <div class="col-md-auto per-col2">
                <img src="@Model[0].getUrl()" class="image-responsive" />
            </div>
        </div>
    </div>
    <!--Services-->
    <div class="container">
        <div class="row home-container py-5 px-4 align-items-center justify-content-md-center">
            <div class="col-md-auto per-col2">
                <img src="@Model[1].getUrl()" class="image-responsive" />
            </div>
            <div class="col per-col1 li-blu py-3 px-2">
                <div class="d-flex flex-column py-3 px-0 justify-content-center text-white" style="height: 100%; width: 100%;">
                    <h1 class="p-1">Услуги</h1>
                    <h5 class="p-1">Ремонт на покриви</h5>
                    <h5 class="p-1">Хидроизолация</h5>
                    <h5 class="p-1">Тенекеджийство</h5>
                    <h4 class="p-1">
                        <a class="home-link link-underline-light text-light" asp-area="" asp-controller="Services" asp-action="Index">И още други</a>
                    </h4>
                </div>
            </div>

        </div>
    </div>
    <!--Gallery-->
    <div class="container">
        <div class="row home-container py-5 px-4 align-items-center justify-content-md-center">

            <div class="col per-col1 li-blu py-3 px-2">
                <div class="d-flex flex-column py-3 px-0 justify-content-center text-white" style="height: 100%; width: 100%;">
                    <h1 class="p-1">Убедете се сами</h1>
                    <h5 class="p-1">Не се доверявайте на сляпо</h5>
                    <h4 class="p-1">
                        <a class="home-link link-underline-light text-light" asp-area="" asp-controller="Gallery" asp-action="Index">Отвори Галерия</a>
                    </h4>
                </div>
            </div>
            <div class="col-md-auto per-col2">
                <img src="@Model[2].getUrl()" class="image-responsive" />
            </div>
        </div>
    </div>
    <!--Contacts-->
    <div class="container">
        <div class="row home-container py-5 px-4 align-items-center justify-content-md-center">
            <div class="col-md-auto per-col2">
                <img src="@Model[3].getUrl()" class="image-responsive" />
            </div>
            <div class="col per-col1 li-blu py-3 px-2">
                <div class="d-flex flex-column py-3 px-0 justify-content-center text-white" style="height: 100%; width: 100%;">
                    <h1 class="p-1">Свържете се с нас</h1>
                    <h5 class="p-1">Тел.: 088 888 8888</h5>
                    <h4 class="p-1">
                        <a class="home-link link-underline-light text-light" asp-area="" asp-controller="Contacts" asp-action="Index">Напиши ни имейл</a>
                    </h4>
                </div>
            </div>

        </div>
    </div>
</div>