@model InquiryModel
@{
    ViewData["Title"] = "Контакти";
}
<style>
    .list-unstyled {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }
</style>

<div class="capsule">
    <div class="d-flex home-container container p-5" style="height: 40rem">
        <div class="d-flex align-self-center row li-blu text-white mx-auto p-4">
            <!--Section: Contact v.2-->
            <section class="d-flex col">
                <div class="align-self-center">
                <!--Section heading-->
                <h2 class="h1-responsive font-weight-bold text-center mb-4 me-3">Отправете запитване</h2>

                <div class="row w-100">

                    <!--Grid column-->
                    <div class="col-md-9 mb-md-0 mb-5 w-100">
                        
                        <form id="contact-form" name="contact-form" enctype="multipart/form-data" method="post" novalidate>

                            <div class="container">
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col">
                                        <div class="md-form mb-1" style="min-width:170px">
                                            <input type="text" id="name" name="name" class="form-control">
                                            <label for="name" class="">Имена</label>
                                        </div>
                                    </div>
                                    <!--Grid column-->
                                    <!--Grid column-->
                                    <div class="col">
                                        <div class="md-form mb-1" style="min-width:170px">
                                            <input type="text" id="email" name="email" class="form-control">
                                            <label for="email" class="">Имейл адрес</label>
                                        </div>
                                    </div>
                                    <!--Grid column-->

                                </div>
                            </div>
                            <!--Grid row-->

                            <!--Grid row-->
                            <!--Grid row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form mb-1">
                                        <input asp-for="subject" type="text" id="subject" name="subject" class="form-control" autocomplete="off">
                                        <label asp-for="subject">Тема</label>
                                    </div>
                                </div>
                            </div>
                            <!--Grid row-->
                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-md-12">

                                    <div class="md-form mt-1">
                                        <textarea asp-for="message" type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                        <label asp-for="message">Съобщение</label>
                                    </div>

                                </div>
                            </div>
                            <!--Grid row-->

                            <div class="text-center text-md-left mt-3">
                                <button class="btn btn-primary"type="submit">Изпрати</button>
                            </div>


                        </form>

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-12">
                            </div>
                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <ul class="list-unstyled d-flex justify-content-around mb-0">

                                <li>
                                    <i class="fas fa-phone my-2 fa-2x"></i>
                                    <p>+359 883 686 966</p>
                                </li>

                                <li>
                                    <i class="fas fa-envelope my-2 fa-2x"></i>
                                    <p>tesla.rooftop.repair@gmail.com</p>
                                </li>
                            </ul>
                        </div>
                        <!--Grid row-->
                        
                    </div>
                    <!--Grid column-->
                </div>
                </div>
            </section>
            <!--Section: Contact v.2-->
            <section class="col-sm">
                @* <gmp-map id="map" center="42.65131378173828,23.335939407348633" zoom="14" map-id="494997b2e6d8cb43">
                    <gmp-advanced-marker position="42.65131378173828,23.335939407348633" title="Tesla EOOD">
                    </gmp-advanced-marker> *@
                <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2934.4738121485034!2d23.335939399999997!3d42.6513138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDLCsDM5JzA0LjciTiAyM8KwMjAnMDkuNCJF!5e0!3m2!1sbg!2snl!4v1699811637325!5m2!1sbg!2snl" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                @*</gmp-map>*@
                <div class="d-flex justify-content-center px-4 pt-2 w-100">
                    <p class="fs-5">гр. София, бул. Симеоновско шосе  51</p>
                </div>
            </section>
        </div>
    </div>
</div>

<script>
    $(document).ready(function {
        new google.maps.Map(document.getElementById("map"), {
            mapId: "494997b2e6d8cb43",
    }
    );
</script>