@model InquiryModel
@{
    ViewData["Title"] = "Контакти";
}
<style>
    .list-unstyled {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }
</style>

<div class="capsule">
    <div class="services-container d-flex-column p-5">
        <div class="carousel-container container-fluid li-blu text-white d-flex flex-row p-4 h-100" style="overflow-y:hidden">
            <!--Section: Contact v.2-->
            <section class="w-50">

                <!--Section heading-->
                <h2 class="h1-responsive font-weight-bold text-center mb-4 me-3">Отправете запитване</h2>

                <div class="row w-100">

                    <!--Grid column-->
                    <div class="col-md-9 mb-md-0 mb-5 w-100">
                        <form id="contact-form" name="contact-form" enctype="multipart/form-data" method="post" novalidate>

                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-md-6">
                                    <div class="md-form mb-1">
                                        <input asp-for="name" type="text" id="name" name="name" class="form-control" autocomplete="off">
                                        <label asp-for="name">Име и фамилия</label>
                                    </div>
                                </div>
                                <!--Grid column-->
                                <!--Grid column-->
                                <div class="col-md-6">
                                    <div class="md-form mb-1">
                                        <input asp-for="email" type="text" id="email" name="email" class="form-control" autocomplete="off">
                                        <label asp-for="email">Имейл адрес</label>
                                    </div>
                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->
                            <!--Grid row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form mb-1">
                                        <input asp-for="subject" type="text" id="subject" name="subject" class="form-control" autocomplete="off">
                                        <label asp-for="subject">Тема</label>
                                    </div>
                                </div>
                            </div>
                            <!--Grid row-->
                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-md-12">

                                    <div class="md-form mt-1">
                                        <textarea asp-for="message" type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                        <label asp-for="message">Съобщение</label>
                                    </div>

                                </div>
                            </div>
                            <!--Grid row-->

                            <div class="text-center text-md-left mt-3">
                                <button class="btn btn-primary"type="submit">Изпрати</button>
                            </div>


                        </form>

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-12">
                            </div>
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <ul class="list-unstyled d-flex justify-content-around mb-0">

                                <li>
                                    <i class="fas fa-phone my-2 fa-2x"></i>
                                    <p>+359 883 686 966</p>
                                </li>

                                <li>
                                    <i class="fas fa-envelope my-2 fa-2x"></i>
                                    <p>tesla.rooftop.repair@gmail.com</p>
                                </li>
                            </ul>
                        </div>
                        <!--Grid row-->

                    </div>
                    <!--Grid column-->

                </div>

            </section>
            <!--Section: Contact v.2-->
            <section class="w-50">
                <gmp-map id="map" center="42.65131378173828,23.335939407348633" zoom="14" map-id="494997b2e6d8cb43">
                    <gmp-advanced-marker position="42.65131378173828,23.335939407348633" title="Tesla EOOD">
                    </gmp-advanced-marker>
                </gmp-map>
                <div class="d-flex justify-content-center px-4 pt-2 w-100">
                    <p class="fs-5">гр.София, бул. Симеоновско шосе  51</p>
                </div>
            </section>
        </div>
    </div>
</div>

<script>
    $(document).ready(function {
        new google.maps.Map(document.getElementById("map"), {
            mapId: "494997b2e6d8cb43",
    }
    );
</script>