@{
    ViewData["Title"] = "Gallery Page";
}

<div class="capsule">
    <div class="gallery-container d-flex-column p-5">
        <div class="carousel-container li-blu d-flex flex-row p-4" style="font-size: 5rem">
            CAROUSEL
        </div>
        <div class="d-flex flex-row p-4">
            Quisque dolor nulla, consequat vel felis sit amet, tempus bibendum felis. Fusce non leo quis diam condimentum consectetur in nec magna. Nullam dapibus metus a sapien venenatis tincidunt.
        </div>
    </div>
</div>
