<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RooftopRepairs</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RooftopRepairs.styles.css" asp-append-version="true" />
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3WiDCIyXHC6oF_P3P7MjwxRhNdb3u6_4&callback=console.debug&libraries=maps,marker&v=beta">
    </script>
    <script src="https://kit.fontawesome.com/01a57c0a85.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body class="px-0">
    <header>
        <!--top bar-->
        <section class="top-bar">
            <div class="row text-light px-3" style="width:100%; height:100%; ">
                <div class="col-sm pl-5">
                    tesla.rooftop.repair@gmail.com
                </div><div class="col-md-6 text-center">
                    <!--brand-->
                    <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">ТЕСЛА ЕООД</a>
                </div>
                      <a class="col-sm pr-5 text-end" href="tel:+359883686966" style="color: white;">
                    +359&nbsp;883&nbsp;68&nbsp;69&nbsp;66&nbsp;
                      </a>
            </div>
        </section>
        <!-- navbar -->
        <nav class="navbar navbar-dark navbar-expand-lg fixed-top">
            <div class="container" style="width: 100%">
                <!-- toggler -->
                <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title text-light" id="offcanvasNavbarLabel">Ремонт на покриви</h5>
                        <button type="button" class="btn-close btn-close-white border-0 shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-around flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">НАЧАЛО</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="AboutUs" asp-action="Index">ЗА НАС</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Services" asp-action="Index">УСЛУГИ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Gallery" asp-action="Roofs">ГАЛЕРИЯ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Contacts" asp-action="Index">КОНТАКТИ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>


    <div class="d-flex justify-content-center">
        <div class="global-wrapper text-center">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>



    <!--<div class="d-flex flex-row h-100 align-items-stretch justify-content-center">-->
        @*<div class="d-flex flex h-100 column text-center" style="flex: 1 1 0; flex-basis: 15%; width: 15%"></div>*@
        <!--<div class="global-wrapper" style="height:100%;">
            <div class="container p-0">

            </div>
        </div>-->
        @*<div class="d-flex flex h-100 column text-center" style="flex: 1 1 0; flex-basis: 15%; width:15%"></div>*@
    <!--</div>-->


    <footer class="border-top footer text-white">
        <div class="container">
            &copy; 2023 - ТЕСЛА ЕООД - Website courtesy of atanas.p.atanasov.2003@gmail.com
        </div>
    </footer>



    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
</body>
</html>
